@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

.flex{
    display: flex;
}
.vertical{
    flex-direction: column;
}
.horizontal{
    flex-direction: row;
}
.center{
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Montserrat', 'Italic';
}
.fundo{
    background-color: white;
}
.box{
    background-color: white;
    padding: 2%;
    margin: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 30px  #D4AFB9; */
    width: 80%;
}
.card{
    width: 50%;
}
input{
    border: inset;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}
form{
    width: 80%;
    margin: auto;
}
.button{
    background-color:#D4AFB9;
    color: #363732;
    border-radius: 10px;
    padding: 20px;
    border: none;
    text-decoration: none;
}

.button:hover{
    background-color: #66C3FF;
    transition: 0.8s;
}

#menu{
    width: 100%;
    border: 3px solid #D4AFB9;
    box-shadow: 0 5px 20px #363732;
    background-color: #66C3FF;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}
li{
    width: 50%;
    height: 50%;
    text-align: center;
}
.foto{
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
}
#conteudo{
    margin: 20px;
    width: 100%;
    font-size: 1. 5em;
}
#perfil{
    margin: 0 auto;
}
.post{
    border: outset;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
}
a{
    text-align: none;
    color: #000000;
}
a img{
    width: 18%;
}  

#postForm{
    width: 100%;
    margin-top: 1rem;
}

#logo{
    width: 7rem;
}
h1{
    color: #262722;
    font-family:'Lato', sans-serif;
}
H2{
    color: #262722;
    font-family:'Lato', sans-serif;
    font-size: 30px;
}
p{
    color: #262722;
    font-family:'Lato', sans-serif;
    font-size: 20px;
}